.navbar {
  width: 100%;
  position: fixed;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  background-color: #c5c3c357;
  border-radius: 8px;
  transition: ease-out 600ms;
  z-index: 1;
}

.navbar:hover {
  cursor: pointer;
  background-color: #646363;
  transition: ease-in 200ms;
  border-radius: 8px;
}

.logo {
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #646363;
}

.earth-logo {
  font-size: 34px;
  color: aquamarine;
}

/* btns right */
.infoBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
  margin-right: 16px;
}

.btn-nav {
  border: 1px solid #d3d4d4;
  background-color: #c5c3c357;
  color: #ffffff;
  font-weight: 300;
  font-size: 12px;
  padding: 6px 10px;
  margin-right: 14px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.btn-nav:hover {
  border: 1px solid #7cabbd;
  background-color: #7cabbd;
  color: #fcfcfc;
  box-shadow: 2px 0px 18px 4px #6f8b96;
  transition: ease 500ms;
}

@keyframes beat {
  0% {
    transform: scale(1.1);
  }
  50% {
    width: 50%;
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
